
	<div id="secondary" class="widget-area" role="complementary">

        <aside id="search-2" class="widget widget_search">
            {% include '_sub_searchbox.twig' %}
        </aside>

        {{ widgets('aside_top') }}

    {% for ct in app.config.get('contenttypes') %}

        {% setcontent records = ct.slug ~ "/latest/5" %}

        <aside id="recent-posts-2" class="widget widget_recent_entries">        
            <h1 class="widget-title">{{ __('Recent %contenttypes%',{'%contenttypes%': ct.name }) }}</h1> 

            <ul>
                {% for record in records %}
                    <li><a href="{{ record.link }}">{{ record.title|default("(no title)") }}</a></li>
                {% else %}
                    <li>{{ __('No recent %contenttype%.',{'%contenttype%': ct.singular_name }) }}</li>
                {% endfor %}
            </ul>
            <p><a href="{{ paths.root }}{{ct.slug}}">{{ __('%contenttypes% overview',{'%contenttypes%':ct.name }) }} &raquo;</a></p>

        </aside>

    {% endfor %}

        {{ widgets('aside_bottom') }}

	</div><!-- #secondary -->
