{% set link = pager.makelink() %}

{% if pager.totalpages > 1 %}
<nav class="navigation paging-navigation" role="navigation">
        <h1 class="screen-reader-text">Navigation</h1>
            <ul class="page-numbers">
{# 'first' and 'prev' #}
{% if pager.current > 1 and class!="narrow" %}
    <li><a class="page-numbers prev" href="{{link}}{{pager.current-1}}">&lsaquo; {{ __("Previous") }} </a></li>
{% endif %}
{% if pager.current > surr+1 %}
    <li><a class="page-numbers prev" href="{{link}}{{1}}">&laquo; 1</a></li>
{% endif %}

{# start with '..' if there are more than surr+1 before currentpage.. #}
{% if pager.current > surr+2 %}
    <li class="disabled"><a class="page-numbers" href="#">...</a></li>
{% endif %}

{% for i in max(1, pager.current-surr)..min(pager.current+surr, pager.totalpages) %}
    <li><a class="page-numbers {% if i==pager.current %}current{%endif%}" href="{{link}}{{i}}">{{i}}</a></li>
{% endfor %}

{# end with '..' if there are more than surr+1 after currentpage.. #}
{% if pager.current < (pager.totalpages - surr - 1) %}
    <li class="disabled"><a class="page-numbers" href="#">...</a></li>
{% endif %}

{# 'next' and 'last' #}
{% if pager.current < pager.totalpages-surr %}
    <li><a class="next page-numbers" href="{{link}}{{pager.totalpages}}">{{pager.totalpages}} &raquo; </a></li>
{% endif %}
{% if pager.current < pager.totalpages and class!="narrow" %}
    <li><a class="next page-numbers" href="{{link}}{{pager.current+1}}">{{ __("Next") }} &rsaquo;</a></li>
{% endif %}
</ul>
</nav>
{% endif %}
