{% import "_macros.twig" as macro %}
{% include "_header.twig" with {'bodyclass': 'home'} %}

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

			<article id="post-{{record.id}}" class=" page type-page status-publish has-post-thumbnail hentry">
			    {% if record.image is defined %}
    	            {{ macro.responsive_thumbnail(record.image, record.title, 'front-index-thumbnail') }}
	            {% endif %}
			    <div class="index-box has-thumbnail">
				<header class="entry-header">
					<h1 class="entry-title">{{ record.title }}</h1>

					{{ macro.recordmeta(record) }}

				</header><!-- .entry-header -->

				<div class="entry-content">
					
					{{ record.teaser }}

				</div>

				{{ macro.recordfooter(record) }}		

			</article><!-- #post-## -->

        {% setcontent records = "entries/latest/4" allowpaging %}
        {% for record in records %}
        	<article>

			    <div class="index-box has-thumbnail">
				<header class="entry-header">
					<h1 class="entry-title">{{ record.title }}</h1>

					{{ macro.recordmeta(record) }}

				</header><!-- .entry-header -->

				<div class="entry-content">
					
					{{ record.teaser }}

				</div>

				{{ macro.recordfooter(record) }}	
        	</article>
    	{% endfor %}

		{{ pager() }}

		</main><!-- #main -->
	</div><!-- #primary -->

{% include "_sidebar.twig" %}
{% include "_footer.twig" %}
