{% import "_macros.twig" as macro %}
{% include "_header.twig" with {'bodyclass': 'home'} %}

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

        {% for record in records %}
        	<article>

			    <div class="index-box has-thumbnail">

                {% if record.image is defined and record.image is not empty %}
                    <div class="small-index-thumbnail clear">
                        <a href="{{ record.image|image }}">
                            <img width="780" height="250" src="{{ thumbnail(record.image, 780, 250) }}" class="attachment-index-thumb wp-post-image" alt="{{ record.image }}">
                        </a>
                    </div>
                {% endif %}


				<header class="entry-header">
					<h1 class="entry-title">{{ record.title }}</h1>

					{{ macro.recordmeta(record) }}

				</header><!-- .entry-header -->

				<div class="entry-content">
					
					{{ record.teaser }}

				</div>

				{{ macro.recordfooter(record) }}	
        	</article>
    	{% endfor %}

		{{ pager() }}

		</main><!-- #main -->
	</div><!-- #primary -->

{% include "_sidebar.twig" %}
{% include "_footer.twig" %}
