{% import "_macros.twig" as macro %}
{% include "_header.twig" %}

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">


        <article id="post-{{record.id}}" class="post-2 page type-page status-publish has-post-thumbnail hentry">
            {% if record.image is defined %}
                {{ macro.responsive_thumbnail(record.image, record.title) }}
            {% endif %}
            <header class="entry-header">
                <h1 class="entry-title">{{ record.title }}</h1>
            </header><!-- .entry-header -->

            <div class="entry-content">

                {{ record.teaser }}

                {{ record.body }}

            </div><!-- .entry-content -->
            <?php edit_post_link( __( 'Edit', 'simone' ), '<footer class="entry-footer"><span class="edit-link">', '</span></footer>' ); ?>
        </article><!-- #post-## -->

			<?php
				// If comments are open or we have at least one comment, load up the comment template
				if ( comments_open() || '0' != get_comments_number() ) :
					comments_template();
				endif;
			?>

		</main><!-- #main -->
	</div><!-- #primary -->


{% include "_sidebar.twig" %}
{% include "_footer.twig" %}
