{% import "_macros.twig" as macro %}
{% include "_header.twig" with {'bodyclass': 'single'} %}

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">


        <article id="post-{{record.id}}" class="post-2 page type-page status-publish has-post-thumbnail hentry">

                {% if record.image is defined and record.image is not empty %}
                    <div class="small-index-thumbnail clear">
                        <a href="{{ record.image|image }}">
                            <img width="980" height="450" src="{{ thumbnail(record.image, 780, 250) }}" class="attachment-index-thumb wp-post-image" alt="{{ record.image }}">
                        </a>
                    </div>
                {% endif %}

            <header class="entry-header">

                <h1 class="entry-title">{{ record.title }}</h1>

                {{ macro.recordmeta(record) }}


            </header><!-- .entry-header -->

            <div class="entry-content">

                {{ record.teaser }}

                {{ record.body }}

            </div><!-- .entry-content -->

        </article><!-- #post-## -->


        <nav class="navigation post-navigation" role="navigation">
            <div class="post-nav-box clear">
                <h1 class="screen-reader-text">Post navigation</h1>
                <div class="nav-links">
  
                    {% set previous = record.previous('id') %}
                    {% if previous %}
                    <div class="nav-previous">
                        <div class="nav-indicator">Previous Post:</div>
                        <h1><a href="{{ previous.link }}" rel="prev">{{ previous.title }}</a></h1>
                    </div>
                    {% endif %}

                    {% set next = record.next('id') %}
                    {% if next %}
                    <div class="nav-next">
                        <div class="nav-indicator">Next Post:</div>
                        <h1><a href="{{ next.link }}" rel="next">{{ next.title }}</a></h1>
                    </div>
                    {% endif %}
                </div><!-- .nav-links -->
            </div><!-- .post-nav-box -->
        </nav><!-- .navigation -->



        {% if (Disqus) is defined or (FacebookComments is defined) %}
        <div id="comments" class="comments-area">
            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">Leave a reply</h3>
                {% if (Disqus) is defined %}
                    {{ Disqus.disqus() }}
                {% else %}
                    {{ FacebookComments.facebookComments() }}
                {% endif %}
            </div>
        </div>
        {% endif %}


		</main><!-- #main -->
	</div><!-- #primary -->


{% include "_sidebar.twig" %}
{% include "_footer.twig" %}
